.country{
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: bisque;
}
.img{
    height: 150px;
}
@media (max-width: 575.98px) {
    .country{
        border: 2px solid black;
        margin: 15px;
        padding: 10px;
        border-radius: 15px;
        background-color: bisque;
        justify-content: center;
        
    }
    .img{
        height: 130px;
    }

 }
 @media (min-width: 576px) and (max-width: 991px) { 
    .country{
        border: 2px solid black;
        margin: 15px;
        padding: 10px;
        border-radius: 15px;
        background-color: bisque;
        justify-content: center;
        
    }
    .img{
        height: 130px;
    }
   

}